<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<!-- BoardMapper 인터페이스를 구현한다는 의미 -->
<mapper namespace="org.spring.persistence.PolicyBoardMapper">
	
	  
    <!-- 북마크 추가 -->
    <insert id="bookmark">
        INSERT INTO bookmark_policy_board (serviceID, user_num, title, content) 
        VALUES (#{serviceID}, #{user_num}, #{title}, #{content})
    </insert>

    <!-- 북마크 삭제 -->
    <delete id="bookmarkDel">
        DELETE FROM bookmark_policy_board 
        WHERE serviceID = #{serviceID} AND user_num = #{user_num}
    </delete>

    <!-- 북마크 여부 확인 -->
    <select id="bookmarkChk" resultType="int">
        SELECT COUNT(*) 
        FROM bookmark_policy_board 
        WHERE serviceID = #{serviceID} AND user_num = #{user_num}
    </select>

    <!-- 사용자 북마크 조회 -->
    <select id="getUserBookmarks" resultType="org.spring.domain.BookmarkDTO">
        SELECT serviceID as id, title, content
        FROM bookmark_policy_board
        WHERE user_num = #{user_num}
    </select>
</mapper>
